<%= form_with model:[:admin, @item], local:true do |f| %>
 <div>
   <%= f.label "商品画像" %>
   <%= f.attachment_field :image, placeholder: "商品画像" %>
 </div>
 <div>
  <%= f.label "商品名" %><%= f.text_field :name %>
 </div>
 <div>
  <%= f.label "商品内容" %><%= f.text_area :content %>
 </div>

 <div>
  <%= f.submit "登録" %>
 </div>
<% end %>

<div>
 <%= link_to "一覧に戻る", admin_items_path %>
</div>