<h2>客先編集</h2>

<%= form_with model:[:admin, @customer], local:true do |f| %>
 <div>
   <%= f.label "担当社員" %><%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name, {:selected => @customer.user_id}) %>
 </div>
 <div>
  <%= f.label "会社名" %><%= f.text_field :name %>
 </div>
 <div>
  <%= f.label "郵便番号" %><%= f.text_field :postal_code %>
 </div>
 <div>
  <%= f.label "住所" %><%= f.text_field :address %>
 </div>
 <div>
  <%= f.label "電話番号" %><%= f.text_field :telephone_number %>
 </div>
 <div>
  <%= f.submit "登録" %>
 </div>
<% end %>

<div>
 <%= link_to "戻る", admin_customer_path(@customer.id) %>
</div>