<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-3 mb-3">
   <h3 class="title-user">得意先登録</h3>
  </div>
 </div>
</div>

<%= form_with model:[:admin, @customer], local:true do |f| %>
 <div class="container">
  <div class="row">
   <table class="col-sm-12 col-mg-8 mt-sm-5">
    <tr height="50">
     <th><%= f.label "担当社員" %></th>
     <th><%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %></th>
     <th></th>
    </tr>
    <tr height="50">
     <th><%= f.label "会社名" %></th>
     <th><%= f.text_field :name %></th>
     <th></th>
    </tr>
    <tr height="50">
     <th><%= f.label "郵便番号" %></th>
     <th><%= f.text_field :postal_code %></th>
     <th></th>
    </tr>
    <tr height="50">
     <th><%= f.label "住所" %></th>
     <th colspan="2"><%= f.text_field :address, :size => "40x1" %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "電話番号" %></th>
     <th><%= f.text_field :telephone_number %></th>
     <th></th>
    </tr>
    <tr height="100">
     <th><%= f.submit "登録", class: "btn btn-success" %></th>
     <th><%= link_to "一覧に戻る", admin_customers_path, class: "btn btn-primary" %></th>
    </tr>
   </table>
  </div>
 </div>
<% end %>

<style type="text/css">

 .title-user {
  background:linear-gradient(45deg, #4fffc4, #fff);
  font-family: YuGothic;
 }

</style>