
<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-3">
   <h3>得意先詳細</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-5 mb-3">
   <h4>〜客先情報〜</h4>
  </div>
 </div>
</div>

<%= form_with model:@customer, local:true do |f| %>
 <div class="container">
  <div class="row">
   <table class="col-sm-12 col-md-8 mt-sm-5 table-bordered">
    <tr height="50">
     <th><%= f.label "担当社員" %></th>
     <th><%= @customer.user.name %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "会社名" %></th>
     <th><%= @customer.name %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "郵便番号" %></th>
     <th><%= @customer.postal_code %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "住所" %></th>
     <th>
      <%= @customer.address %>
      <div id="map"></div>
     </th>
    </tr>
    <tr height="50">
     <th><%= f.label "電話番号" %></th>
     <th><%= @customer.telephone_number %></th>
    </tr>
    <tr height="50">
     <th><%= link_to "一覧に戻る", customers_path %></th>
    </tr>
   </table>
  </div>
 </div>

 <script type="text/javascript">
  function initMap() {
   var test ={lat: <%= @customer.latitude %>, lng: <%= @customer.longitude %>};
   var map = new google.maps.Map(document.getElementById('map'), {zoom: 15, center: test});
   var transitLayer = new google.maps.TransitLayer();
   transitLayer.setMap(map);
   var contentString = '住所:<%= @customer.address %>';
   var infowindow = new google.maps.InfoWindow({content: contentString});

   var marker = new google.maps.Marker({position:test, map: map, title: contentString});
   marker.addListener('click', function() {infowindow.open(map,marker);});
  }
 </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<style type="text/css">
 #map {
  height: 200px;
  width: 70%;
 }
</style>

<% end %>

<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-5 mb-3">
   <h4>〜提案商品〜</h4>
  </div>
 </div>
</div>

<% if @suggest_item.errors.any? %>
 <div>登録済の商品です。</div>
<% end %>
<% if @customer.user_id == current_user.id %>
 <%= form_with model: @suggest_item, url: create_suggest_items_path, local:true do |f| %>
  <%= f.hidden_field :customer_id, value: @customer.id %>
   <div class="container">
    <div class="row">
     <table class="col-sm-5 col-md-3 mt-sm-1">
      <tr>
       <th><%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name) %></th>
       <th><%= f.submit "登録" %></th>
      </tr>
     </table>
    </div>
   </div>
 <% end %>

 <div class="container">
  <div class="row">
   <div class="box col-sm-8 col-md-6 col-lg-4 mt-sm-3 mb-sm-3">
    <table class="table">
     <tr>
      <th>商品名</th>
      <th>ステータス</th>
      <th></th>
     </tr>
     <% @suggest_items.each do |suggest_item| %>
      <tr>
       <th><%= suggest_item.item.name %></th>
       <%= form_with model: suggest_item, url: suggest_item_path(suggest_item.id), method: :patch,  local:true do |f| %>
        <%= f.hidden_field :suggest_item_id, value: suggest_item.id %>
        <%= f.hidden_field :customer_id, value: suggest_item.customer_id %>
        <%= f.hidden_field :item_id, value: suggest_item.item_id %>
        <th><%= f.select :status, SuggestItem.statuses.keys.to_a,{} %></th>
        <th>
         <div><%= f.submit '更新' %></div>
        </th>
       <% end %>
      </tr>
     <% end %>
    </table>
   </div>
  </div>
 </div>

<% else %>
 <div class="container">
  <div class="row">
   <div class="box col-sm-8 col-md-6 col-lg-4 mt-sm-3 mb-sm-3">
    <table class="table">
     <tr>
      <th>商品名</th>
      <th>ステータス</th>
      <th></th>
     </tr>
     <% @suggest_items.each do |suggest_item| %>
      <tr>
       <th><%= suggest_item.item.name %></th>
       <th><%= suggest_item.status %></th>
      </tr>
     <% end %>
    </table>
   </div>
  </div>
 </div>


<% end %>

<style type="text/css">
 .box {
  height: 200px;
  border: 1px solid #000;
  overflow-y: scroll;
 }
</style>