<h2>得意先詳細</h2>

<%= form_with model:@customer, local:true do |f| %>
 <div>
   <%= f.label "担当社員" %><%= @customer.user.name %>
 </div>
 <div>
  <%= f.label "会社名" %><%= @customer.name %>
 </div>
 <div>
  <%= f.label "郵便番号" %><%= @customer.postal_code %>
 </div>
 <div>
  <%= f.label "住所" %><%= @customer.address %>
 </div>
 <div>
  <%= f.label "電話番号" %><%= @customer.telephone_number %>
 </div>
<% end %>

<div>
 <%= link_to "一覧に戻る", customers_path %>
</div>

<% if @customer.user_id == current_user.id %>
 <div>あ</div>
<% end %>