<div class="container">
 <div class="row">
  <div class="col-sm-4 col-lg-3 mt-3 mb-3">
   <h3 class="title-user">営業マン詳細</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-5 mb-3">
   <h4 class="title-user">〜詳細〜</h4>
  </div>
 </div>
</div>

<%= form_with model:[:admin, @user], local:true do |f| %>
 <div class="container">
  <div class="row">
   <div class="col-sm-7 col-lg-5 col-mg-3">
    <table class="table-bordered col-sm-9">
     <tr height="50">
      <th><%= f.label "社員番号" %></th><th><%= @user.number %></th>
  　  </tr>
     <tr height="50">
      <th><%= f.label "営業マン" %></th><th><%= @user.name %></th>
     </tr>
    </table>
   </div>
  </div>
 </div>
<% end %>

<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-5 mb-3">
   <h4 class="title-user">〜担当客先〜</h4>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-7 col-lg-5 box">
   <table class="table">
    <thead>
     <tr class="title-bar">
      <th>担当得意先名</th>
      <th>編集</th>
     </tr>
    </thead>

    <tbody>
     <% @customers.each do |customer| %>
      <tr>
       <th><%= customer.name %></th>
       <th><%= link_to "編集", edit_admin_customer_path(customer.id) %></th>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-7 col-lg-5 mt-3 mb-5">
   <div class="text-center"><%= link_to "一覧に戻る", admin_users_path, class: "btn btn-primary" %></div>
  </div>
 </div>
</div>

<style type="text/css">
 .box {
  height: 200px;
  border: 1px solid #000;
  overflow-y: scroll;
 }

 .title-user {
  background:linear-gradient(45deg, #4fffc4, #fff);
  font-family: YuGothic;
 }

.title-bar {
  background-color: #3fcc9d;
 }
</style>