<%= form_with model: @daily_report, local:true do |f| %>

 <div>
  <%= f.label "訪問日時" %>
  <%= f.datetime_field :visit_date %>
 </div>
 <div>
   <%= f.label "得意先" %><%= @daily_report.customer.name %>
 </div>
 <div>
  <%= f.label "訪問内容" %><%= f.text_area :content %>
 </div>

 <div>
  <%= f.submit "更新" %>
 </div>
<% end %>

<div>
 <%= link_to "一覧に戻る", daily_reports_path %>
</div>