<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-3 mb-3">
   <h3 class="title-user">日報編集</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-6 mt-3">
   <% if @daily_report.errors.any? %>
    <%= @daily_report.errors.count %>件のエラーが発生しました</br>
    <% @daily_report.errors.full_messages.each do |message| %>
     <%= message %></br>
    <% end %>
   <% end %>
  </div>
 </div>
</div>

<%= form_with model: @daily_report, local:true do |f| %>

<div class="container">
  <div class="row">
   <table class="col-sm-12 col-mg-8 mt-sm-5 mb-5">
    <tr height="50">
     <th><%= f.label "訪問日時" %></th>
     <th><%= f.datetime_field :start_time %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "得意先" %></th><th><%= @daily_report.customer.name %></th>
    </tr>
    <tr height="50">
     <th><%= f.label "訪問内容" %></th><th><%= f.text_area :content %></th>
    </tr>

    <tr height="50">
     <th><%= f.submit "更新", class: "btn btn-success" %></th>
     <th><%= link_to "一覧に戻る", daily_reports_path, class: "btn btn-primary" %></th>
    </tr>
   </table>
  </div>
 </div>
<% end %>

<style type="text/css">

 .title-user {
  background:linear-gradient(45deg, #4fffc4, #fff);
  font-family: YuGothic;
 }

 .title-bar {
  background-color: #3fcc9d;
 }

</style>