<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-3 mb-3">
   <h3 class="title-user">日報詳細</h3>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-3 col-lg-2 mt-5 mb-3">
   <h4 class="title-user">〜日報内容〜</h4>
  </div>
 </div>
</div>

<%= form_with model:@daily_report, local:true do |f| %>
 <div class="container">
  <div class="row">
   <div class="col-sm-10 col-md-10 col-lg-8 mt-sm-5">
    <table class="col-sm-12 table-bordered">
     <tr height="50">
      <th class="col-sm-4">担当者</th>
      <th class="col-sm-8"><%= @daily_report.user.name %></th>
     </tr>

     <tr height="50">
      <th class="col-sm-4">訪問先</th>
      <th class="col-sm-8"><%= link_to @daily_report.customer.name, customer_path(@daily_report.customer.id) %></th>
     </tr>

     <tr height="50">
      <th class="col-sm-4">訪問日時</th>
      <th class="col-sm-8"><%= @daily_report.start_time %></th>
     </tr>

     <tr height="50">
      <th class="col-sm-4">訪問内容</th>
      <th class="col-sm-8 content"><%= @daily_report.content %></th>
     </tr>
     <tr height="50">
      <th><%= link_to "編集する", edit_daily_report_path(@daily_report.id), class: "btn btn-success" %></th>
      <th><%= link_to "一覧に戻る", daily_reports_path, class: "btn btn-primary" %></th>
     </tr>
    </div>
   </table>
  </div>
 </div>

<% end %>

<div class="container">
 <div class="row">
  <div class="col-sm-4 col-lg-3 mt-5 mb-3">
   <h4 class="title-user">〜コメント一覧〜</h4>
  </div>
 </div>
</div>

<% @daily_report.comments.each do |comment| %>
 <div class="container">
  <div class="row">
   <div class="col-sm-10 col-md-10 col-lg-8 mt-sm-5">
    <table class="col-sm-12 table-bordered">
     <tr class="title-bar">
      <th class="col-sm-3">投稿日時</th>
      <th class="col-sm-3">投稿者名</th>
      <th class="col-sm-6">コメント内容</th>
     </tr>
     <tr>
      <th class="col-sm-3"><%= comment.created_at.strftime('%Y/%m/%d') %></th>
      <th class="col-sm-3"><%= comment.user.name %></th>
      <th class="col-sm-6 comment"><%= comment.comment %></th>
     </tr>
    </div>
   </table>
  </div>
 </div>
<% end %>

<div class="container">
 <div class="row">
  <div class="box col-sm-8 col-md-6 col-lg-4 mt-sm-3 mb-sm-3">
   <%= form_with(model:[@daily_report, @comment], local: true) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "コメントする" %>
   <% end %>
  </div>
 </div>
</div>

<style type="text/css">
 .content {
  word-break: break-all;
 }

 .comment {
  word-break: break-all;
 }

 .title-user {
  background:linear-gradient(45deg, #4fffc4, #fff);
  font-family: YuGothic;
 }

 .title-bar {
  background-color: #3fcc9d;
 }
</style>