<h2>商品詳細</h2>

<%= form_with model:@daily_report, local:true do |f| %>

 <div>担当者</div>
 <div><%= @daily_report.user.name %></div>

 <div>訪問先</div>
 <div><%= link_to @daily_report.customer.name, customer_path(@daily_report.customer.id) %></div>

 <div>訪問日時</div>
 <div><%= @daily_report.visit_date %></div>

 <div>訪問内容</div>
 <div><%= @daily_report.content %></div>

<% end %>

<%= link_to "編集する", edit_daily_report_path(@daily_report.id) %>

<div>
 <%= link_to "一覧に戻る", daily_reports_path %>
</div>

<% @daily_report.comments.each do |comment| %>
 <%= comment.user.name %>
 <%= comment.created_at.strftime('%Y/%m/%d') %>
 <%= comment.comment %>
<% end %>

<%= form_with(model:[@daily_report, @comment], local: true) do |f| %>
 <%= f.text_area :comment %>
 <%= f.submit "コメントする" %>
<% end %>